

section {
	margin: 0;
	padding: 2em;
	background-color: #d8f3fc;
}


section #image {
	width: 12em;
	height: 12em;
	margin: 0 auto;
}

h1, h3, h4 {
	text-align: center;
	font-weight: bold;
}


#socialIcons {
	width: 25em;
	margin: 0 auto;
}

span {
	margin-left: 0.2em;
	opacity: 0.3;
}

span:hover {
	opacity: 0.7;
	cursor: pointer;
}

#email-me {
	margin-left: 1em;
}